#login-nav input {
  margin-bottom: 15px;
}

body {
  background: none !important;
}

.navbar {
  margin-bottom: 0px;
  !important;
}

.background {
  background: url(./images/terre-battue.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
}

.head-panel {
    background-color: #fff;
    margin-top: 30px;
    border-color: #ddd;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    height: 100%;
}

.title-panel {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8));
    background-image: -moz-linear-gradient(top, #f5f5f5, #e8e8e8);
    background-image: -o-linear-gradient(top, #f5f5f5, #e8e8e8);
    padding: 10px 15px;
    border-bottom: 1px solid;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    backgroud-color: #f5f5f5;
    border-color: #ddd;
    box-sizing: border-box;
}

.body-panel {
    padding: 15px;
    box-sizing: border-box;
    height: auto;
    border-right: 1px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-left-radius: 3px;
    border-right-radius: 3px;
    border-color: #ddd;
}

.row.calendar {
    background-color: #eae8e8;
    height: auto;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.box {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 25px;
    text-align: center;
    display: block;
    margin: 60px 10px 20px 10px;
    background-color: #fff;
}

.box-icon {
    background-color: #56cf98;
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    margin-top: -61px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#weather_picture {
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    margin-top: -61px;
}

.box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.info h4 {
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.info > p {
    color: #717171;
    font-size: 16px;
    padding-top: 10px;
    text-align: justify;
}

#jqxcourt1, #jqxcourt2 {
    border: none;
    padding-top: 10px;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #56cf98;
    right: 25px;
    margin-left: -1.5px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: calc(100% - 75px);
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    right: 0px;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #56cf98 !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    padding-top: 5px;
}

footer {
    width: 100%;
    height: 75px;
    background-color: #B1B1B1;
    text-align: center;
}

footer p {
    line-height: 75px;
    text-align: center;
    margin: 0;
    color: #FFFFFF;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: inherit;
}

.table th {
    text-align: center;
}

.notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 8px -6px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 8px -6px rgba(0, 0, 0, .2);
}

.notice-sm {
    padding: 10px;
    font-size: 80%;
}

.notice-lg {
    padding: 35px;
    font-size: large;
}

.notice-success {
    border-color: #80D651;
}

.notice-success > strong {
    color: #80D651;
}

.notice-info {
    border-color: #45ABCD;
}

.notice-info > strong {
    color: #45ABCD;
}

.notice-warning {
    border-color: #FEAF20;
}

.notice-warning > strong {
    color: #FEAF20;
}

.notice-danger {
    border-color: #d73814;
}

.notice-danger > strong {
    color: #d73814;
}

.nav-tabs {
    border-bottom: 2px solid #DDD;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border-width: 0;
}

.nav-tabs > li > a {
    border: none;
    color: #666;
}

.nav-tabs > li.active > a, .nav-tabs > li > a:hover {
    border: none;
    color: #4285F4 !important;
    background: transparent;
}

.nav-tabs > li > a::after {
    content: "";
    background: #4285F4;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}

.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
    transform: scale(1);
}

.tab-nav > li > a::after {
    background: #21527d none repeat scroll 0% 0%;
    color: #fff;
}

.tab-pane {
    padding: 15px 0;
}

.tab-content {
    padding: 20px
}

.card {
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}

.table > tbody > tr > td.danger, .table-hover > tbody > tr > td:hover.danger {
    background-color: #D9534F;
}

.table-hover > tbody > tr > td:hover, .table-hover > tbody > tr > td:hover {
    background-color: #B1B1B1;
}

.booking {
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
}
.verif_message_error {
    color: #D9534F;
}
.verif_error {
    border: 1px solid #D9534F;
}

.strong {
  font-weight: bold;
}

#status-info-warning {
  position: relative;
  color: #D9534F;
  transform: translateY(40%);
  margin-right: 15px;
  transition-delay: 0.2s;
  transition: transform 0.5s;
}

#status-info-warning:hover {
  cursor: pointer;
  transform: translateY(35%) scale(1.1);
}

#status-info-warning:hover + #status-info {
  visibility: visible;
  opacity: 1;
}

#status-info::before {
  content: "";
  width: 0;
	height: 0;
  padding: 0;
  box-sizing: border-box;

  border: 12px solid black;
  border-color: transparent transparent #EEEEEE #EEEEEE;
  box-shadow: -3px 3px 4px 0 rgba(0, 0, 0, 0.4);

  position: absolute;
  transform: translateX(50%) translateY(-50%) rotate(135deg);
  right: 50%;
}

#status-info {
  background-color: #EEEEEE;
  height: auto;
  width: 200px;
  position: absolute;
  transform: translateX(-43%) translateY(30px);
  border-radius: 5px;
  text-align: center;
  visibility: hidden;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
}

#status-info div {
  padding: 10px;
}

#status-info p {
  margin: 0;
}

@media only screen and (max-width: 767px) {
  #status-info-warning, #status-info {
    display: none;
  }
}
